<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
</head>
<body>
        <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Login</a></li>
                  <li><a href="#">Registration</a></li>
                  
                </ul>
              </div>
              <div class="container mt-5 mb-5">
                  <div class="row justify-content-md-center">
                      <div class="col col-1 col-md-3"></div>
                      <div class="col col-10 col-md-6 border border-secondary rounded p-5">
    <form>


         <table class="table">
             <tr><td>Name</td><td><input type="text" class="form"></td></tr>
             <tr><td>Address</td><td><input type="text" class="form"></td></tr>
             <tr><td>Gender</td><td><input type="radio" name="gender" value="male">Male<br>
                                </td><input type="radio" name="gender" value="female">Female</tr>
             <tr><td>District</td>
                <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <a class="dropdown-item" href="#">Alappuzha</a></li>
                          <a class="dropdown-item" href="#">Ernamkulam</a>
                          <a class="dropdown-item" href="#">Idukki</a>
                          <a class="dropdown-item" href="#">Kannur</a>
                          <a class="dropdown-item" href="#">Kasargod</a>
                          <a class="dropdown-item" href="#">Kollam</a>
                          <a class="dropdown-item" href="#">Kottayam</a>
                          <a class="dropdown-item" href="#">Kozhikode</a>
                          <a class="dropdown-item" href="#">Malappuram</a>
                          <a class="dropdown-item" href="#">Palakkad</a>
                          <a class="dropdown-item" href="#">Pathanamthitta</a>
                          <a class="dropdown-item" href="#">Thiruvanathapuram</a>
                          <a class="dropdown-item" href="#">Thrissur</a>
                          <a class="dropdown-item" href="#">Wayanad</a>
                                                                  
                        </ul>
                      </div>
            </tr> 
            <tr><td>DOB</td><td><input type="text" class="form"></td></tr>
            <tr><td>Email</td><td><input type="text" class="form"></td></tr>   
            <tr><td>Username</td><td><input type="text" class="form"></td></tr>
            <tr><td>password</td><td><input type="password" class="form"></td></tr>
            <tr><td>confirm password</td><td><input type="password" class="form"></td></tr> 
            <tr><td><input type="reset" class="btn btn-success float-right" value="reset"></td><td><input type="register" class="btn btn-success float-right" value="register"></td></tr>              
         </table>
    </form>  
    
  </div>
  <div class="col col-1 col-md-3"></div>
</div>
</div>

    
</body>
</html>